			<!-- blog__area start -->
			<section class="blog__area pt-180 pt-md-60 pb-170 pb-lg-60">
				<div class="big-style-text">Blogs</div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7">
							<div class="section__title text-center mb-50">
								<h4 class="sub__title__one mb-0">Latest News</h4>
								<div class="snake-line mb-15">
									<img src="assets/img/shape/snake-line-1a.svg" alt="line">
								</div>
								<h2 class="section__title__one">Our Recent Articles</h2>
							</div>
						</div>
					</div>
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-4 col-md-6">
							<div class="blog__one mb-30">
								<div class="blog__thumb mb-25">
									<a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-1a.jpg"
											alt="Blog"></a>
								</div>
								<div class="blog__meta mb-25">
									<a href="#">Metal Store ~ </a>
									<a class="date-text" href="#">21 Jan 2023</a>
								</div>
								<h3 class="blog__title"><a href="blog-details.html">Strategy for Improve Efficiency &
										Flexibility</a></h3>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="blog__one mb-30">
								<div class="blog__thumb mb-25">
									<a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-2a.jpg"
											alt="Blog"></a>
								</div>
								<div class="blog__meta mb-25">
									<a href="#">Nature Care ~ </a>
									<a class="date-text" href="#">25 Jan 2023</a>
								</div>
								<h3 class="blog__title"><a href="blog-details.html">Reducing Environmental Impact and
										Increasing Profitability</a></h3>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="blog__one mb-30">
								<div class="blog__thumb mb-25">
									<a href="blog-details.html"><img class="w-100" src="assets/img/blog/blog-3a.jpg"
											alt="Blog"></a>
								</div>
								<div class="blog__meta mb-25">
									<a href="#">Manufacturing ~ </a>
									<a class="date-text" href="#">21 Jan 2023</a>
								</div>
								<h3 class="blog__title"><a href="blog-details.html">Ensuring Consistency and Excellence
										in Manufacturing</a></h3>
							</div>
						</div>
					</div>
					<div class="more__btn__box text-center mt-30">
						<a href="contact.html" class="ht_btn hover-bg"><span>See More <img
									src="assets/img/icon/arrow1.svg" alt=""></span></a>
					</div>
				</div>
			</section>
			<!-- blog__area end -->