			<!-- case__study__area start -->
			<section class="case__study__area pt-90 pb-90 pt-lg-60 pb-lg-60">
				<div class="big-style-text">Case</div>
				<div class="big-style-text text-two">Study</div>
				<div class="container-fluid px-0">
					<div class="row justify-content-center">
						<div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8">
							<div class="section__title text-center mb-60">
								<h4 class="sub__title__one mb-0">Case Study</h4>
								<div class="snake-line mb-15">
									<img src="/assets/img/shape/snake-line-1a.svg" alt="line">
								</div>
								<h2 class="section__title__one">Case Studies Demonstrating Our Impact in the Industry
								</h2>
							</div>
						</div>
					</div>
					<div class="swiper case__slider__one">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-1a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-2a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-3a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-4a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-1a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-2a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-3a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="case__single__box">
									<div class="case__thumb">
										<img class="img-fluid" src="/assets/img/case/case-4a.jpg" alt="">
									</div>
									<a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
									<div class="case__content">
										<h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
										</h3>
										<a href="case-details.html" class="case__btn">More Details <span><img
													src="/assets/img/icon/arrow2.svg" alt=""></span></a>
										<img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- case__study__area end -->