<div class="grid grid-cols-4">
    <form onsubmit="return false;" class="space-y-6">
        <!-- Text Input -->
        <div class="space-y-1">
            <label class="font-medium" for="tk-form-elements-name">Text</label>
            <input
                class="w-full block border border-gray-200 rounded px-3 py-2 leading-6 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                type="text"
                id="tk-form-elements-name"
                placeholder="Enter your name"
            />
        </div>
        <!-- END Text Input -->

        <!-- Email Input -->
        <div class="space-y-1">
            <label class="font-medium" for="tk-form-elements-email">Email</label>
            <input
                class="w-full block border border-gray-200 rounded px-3 py-2 leading-6 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                type="email"
                id="tk-form-elements-email"
                placeholder="Enter your email"
            />
        </div>
        <!-- END Email Input -->

        <!-- Password Input -->
        <div class="space-y-1">
            <label class="font-medium" for="tk-form-elements-password">Password</label
            >
            <input
                class="w-full block border border-gray-200 rounded px-3 py-2 leading-6 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                type="password"
                id="tk-form-elements-password"
                placeholder="Enter your password"
            />
        </div>
        <!-- END Password Input -->
        <!-- Textarea -->
        <div class="space-y-1">
            <label class="font-medium" for="tk-form-elements-textarea">Textarea</label
            >
            <textarea
                class="w-full block border border-gray-200 rounded px-3 py-2 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50"
                id="tk-form-elements-textarea"
                rows="4"
                placeholder="Enter further details"></textarea>
        </div>
        <!-- END Textarea -->
    </form>
</div>
