<div class="flex flex-col items-center h-full py-10 overflow-hidden md:rounded-xl bg-gradient-to-tr from-blue-900 via-indigo-700 to-green-700 md:flex-row">
    <div class="flex justify-start w-full pr-6 overflow-hidden md:w-1/2 md:pr-0">
        <img src="" class="object-cover w-full h-full transform translate-x-0 md:translate-x-0">
    </div>
    <div class="flex flex-col items-center justify-center w-full h-full py-5 pl-16 pr-12 mb-10 md:w-1/2 md:mb-0 md:items-start md:pl-16 lg:pl-10 lg:pr-12">
        <h2 class="inline-block pb-2 mx-auto text-5xl font-bold leading-tight text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-green-400 md:mx-0">Servicios 24 Horas.</h2>
        <h3 class="text-5xl font-bold leading-none text-indigo-50">No te quedes colgado. </h3>
        <p class="max-w-sm my-8 text-center text-white opacity-75 md:text-left lg:text-lg md:max-w-none">En Desatascos Pociten te ofrecemos un servicio 24 horas los 7 días de la semana para resolverte cualquier incidencia y puedas proseguir con tu negocio, o simplemente, el día a día de tu casa. No permitas que un atasco en tus tuberías te arruine el día. LLámanos y te lo resolverevemos al instante. </p>
        <a href="#_" class="px-6 py-2 text-lg font-medium text-white border-2 border-white rounded-full">Saber Más</a>
    </div>
</div>