	<!-- case__study__area start -->
    <section class="case__study__area pt-80 pb-170 pt-lg-55 pb-lg-110">
        <div class="container-fluid px-0">
            <div class="row justify-content-center">
                <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-8">
                    <div class="section__title text-center mb-60">
                        <h2 class="section__title__one">Case Studies Demonstrating Our Impact in the Industry
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row gx-0">
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/case-1a.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/case-2a.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/case-3a.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-9d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-10d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-11d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-12d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-13d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-14d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-15d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-16d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="case__single__box">
                        <div class="case__thumb">
                            <img class="img-fluid" src="/assets/img/case/project-17d.jpg" alt="">
                        </div>
                        <a href="case-details.html" class="icon"><i class="bi bi-plus"></i></a>
                        <div class="case__content">
                            <h3 class="case__title mb-25">Digital Transformation for Industrial Excellence
                            </h3>
                            <a href="case-details.html" class="case__btn">More Details <span><img
                                        src="/assets/img/icon/arrow2.svg" alt=""></span></a>
                            <img class="overlay__icon" src="/assets/img/icon/icon-8a.svg" alt="Icon">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center mt-30">
                    <a href="#" class="ht_btn hover-bg">Llámanos</a>
                </div>
            </div>
        </div>
    </section>
    <!-- case__study__area end -->
