			<!-- services__area start -->
			<section class="project__details__area pt-180 pt-lg-120 pb-145 pb-lg-80">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 order-lg-first order-last">
							<div class="widget-right-section pe-xl-4 mb-40">
								<ul class="list-none service-widget grey-bg">
									<li><a href="#">Industrial Automation <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Manufacturing System <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Oil and Gas Refinery <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Energy Management <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
									<li><a href="#">Smart Factory Solution <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a>
									</li>
									<li><a href="#">Lean Manufacturing <span class="float-end"><i
													class="bi bi-arrow-right-short"></i></span></a></li>
								</ul>
								<div class="grey-bg widget-form mt-60">
									<h3 class="widget__title__two mb-15">Contact Us</h3>
									<p class="mb-40">Collaboratively engineer prospective
										imperatives with transparent technology.</p>
									<form action="#">
										<input type="text" placeholder="Enter Name">
										<input type="email" placeholder="Email">
										<textarea name="message" placeholder="Write Message"
											spellcheck="false"></textarea>
									</form>
									<button class="widget-btn mt-20">Contact Now</button>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="project__details__wrapper">
								<h2 class="section__title__one mb-20">Streamlining Operations</h2>
								<p class="mb-30">Quickly integrate client-centered users through vertical data.
									Holisticly repurpose
									interactive expertise after distinctive resources. Collaboratively engineer
									prospective imperatives with transparent technology. Phosfluorescently morph
									excellent materials for multifunctional collaboration.</p>
								<img class="w-100 mb-35" src="/assets/img/blog/blog-18c.jpg" alt="Blog">
								<div class="row align-items-center mb-15">
									<div class="col-xl-6 pe-lg-0 mb-30">
										<p class="mb-40">Quickly integrate client-centered users through vertical data.
											Holisticly repurpose interactive expertise after distinctive resources.
											Collaboratively engineer prospective imperatives with transparent
											technology.Holisticly repurpose interactive expertise after distinctive
											resources.</p>
										<p>Phosfluorescently build unique e-business whereas e-business results.
											Conveniently cultivate compelling processes before client-centered
											networks.Holisticly repurpose interactive expertise.
											Seamlessly monetize virtual data through collaborative processes.</p>
									</div>
									<div class="col-xl-6 mb-30">
										<div class="project__info">
											<h3 class="single__box__title ">Project Information</h3>
											<ul class="list-none pe-5">
												<li>
													<div class="info-list mb-20">
														<span>Client</span>
														<h5>Frndz IT LTD.</h5>
													</div>
												</li>
												<li>
													<div class="info-list mb-20">
														<span>Start Date</span>
														<h5>21 June 2022</h5>
													</div>
												</li>
												<li>
													<div class="info-list mb-20">
														<span>Project Duration</span>
														<h5>03 Months</h5>
													</div>
												</li>
												<li>
													<div class="info-list">
														<span>End Date</span>
														<h5>21 Sept 2022</h5>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<h3 class="service__title__three mb-15">About Project</h3>
								<p class="mb-40">Quickly integrate client-centered users through vertical data.
									Holisticly repurpose
									interactive expertise after distinctive resources. Collaboratively engineer
									prospective imperatives with transparent technology. Phosfluorescently morph
									excellent materials for multifunctional collaboration and idea-sharing. Continually
									innovate maintainable e-commerce without future-proof relationships.</p>
								<p>Phosfluorescently build unique e-business whereas e-business results. Conveniently
									cultivate compelling processes before client-centered networks. Seamlessly monetize
									virtual data through collaborative processes. Rapidiously deploy enterprise.</p>

								<div class="row progressbar-wrapper mb-1">
									<div class="col-lg-3 col-sm-6">
										<div class="counter__style__two text-lg-start text-center">
											<h3><span class="counter">125</span>+</h3>
											<p>We Develop Over 125+ Software</p>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="counter__style__two text-lg-start text-center">
											<h3><span class="counter">65</span>+</h3>
											<p>Global Clients & Trusted Us</p>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="counter__style__two text-lg-start text-center">
											<h3><span class="counter">32</span>+</h3>
											<p>Local & Global Award Wins</p>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="counter__style__two text-lg-start text-center">
											<h3><span class="counter">122</span>+</h3>
											<p>Clients Reviews Our Software</p>
										</div>
									</div>
								</div>
								<h3 class="service__title__three mb-15">Project Goals</h3>
								<p class="mb-40">Quickly integrate client-centered users through vertical data.
									Holisticly repurpose
									interactive expertise after distinctive resources. Collaboratively engineer
									prospective imperatives with transparent technology. Phosfluorescently morph
									excellent materials for multifunctional collaboration and idea-sharing. Continually
									innovate maintainable e-commerce without future-proof relationships.</p>
								<p>Phosfluorescently build unique e-business whereas e-business results. Conveniently
									cultivate compelling processes before client-centered networks. Seamlessly monetize
									virtual data through collaborative processes. Rapidiously deploy enterprise.</p>
								<ul class="text-list list-none mb-5">
									<li>Collaboratively engineer prospective with transparent technology.</li>
									<li>Phosfluorescently excellent materials collaboration idea-sharing.</li>
									<li>Conveniently cultivate compelling processes before client networks.</li>
									<li>Seamlessly monetize virtual data through collaborative processes.</li>
									<li>Holisticly repurpose interactive expertise after distinctive resources.</li>
								</ul>
								<h3 class="service__title__three mb-15">Final Decision</h3>
								<p>Quickly integrate client-centered users through vertical data. Holisticly repurpose
									interactive expert after distinctive resources. Collaboratively engineer prospective
									imperatives with transparent technology. Phosfluorescently morph excellent
									materials.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- services__area end -->