			<!-- services__area start -->
			<section class="services__area pt-180 pb-45 pt-lg-60 pb-lg-40">
				<div class="big-style-text">Service</div>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<div class="section__title text-center mb-50">
								<h4 class="sub__title__one mb-0">Our Services</h4>
								<div class="snake-line mb-15">
									<img src="assets/img/shape/snake-line-1a.svg" alt="line">
								</div>
								<h2 class="section__title__one">Transform Your Company with Our <span>Services</span>
								</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="swiper services__slide__one pb-60">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="single__services__box mb-60">
											<div class="services__thumb">
												<img class="w-100" src="assets/img/service/service-1a.jpg"
													alt="Service">
											</div>
											<div class="services__content">
												<div class="services__icon">
													<img src="assets/img/icon/icon-5a.svg" alt="Icon">
												</div>
												<h4 class="single__service__title"><a
														href="services-detail.html">Industrial
														Automation</a>
												</h4>
												<a href="services-detail.html"><img src="assets/img/icon/long-arrow.svg"
														alt="Arrow"></a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__services__box mb-60">
											<div class="services__thumb">
												<img class="w-100" src="assets/img/service/service-2a.jpg"
													alt="Service">
											</div>
											<div class="services__content">
												<div class="services__icon">
													<img src="assets/img/icon/icon-6a.svg" alt="Icon">
												</div>
												<h4 class="single__service__title"><a
														href="services-detail.html">Manufacturing
														System</a>
												</h4>
												<a href="services-detail.html"><img src="assets/img/icon/long-arrow.svg"
														alt="Arrow"></a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__services__box mb-60">
											<div class="services__thumb">
												<img class="w-100" src="assets/img/service/service-3a.jpg"
													alt="Service">
											</div>
											<div class="services__content">
												<div class="services__icon">
													<img src="assets/img/icon/icon-7a.svg" alt="Icon">
												</div>
												<h4 class="single__service__title"><a href="services-detail.html">Oil
														and
														Gas
														Refinery</a>
												</h4>
												<a href="services-detail.html"><img src="assets/img/icon/long-arrow.svg"
														alt="Arrow"></a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__services__box mb-60">
											<div class="services__thumb">
												<img class="w-100" src="assets/img/service/service-1a.jpg"
													alt="Service">
											</div>
											<div class="services__content">
												<div class="services__icon">
													<img src="assets/img/icon/icon-5a.svg" alt="Icon">
												</div>
												<h4 class="single__service__title"><a
														href="services-detail.html">Industrial
														Automation</a>
												</h4>
												<a href="services-detail.html"><img src="assets/img/icon/long-arrow.svg"
														alt="Arrow"></a>
											</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="single__services__box mb-60">
											<div class="services__thumb">
												<img class="w-100" src="assets/img/service/service-2a.jpg"
													alt="Service">
											</div>
											<div class="services__content">
												<div class="services__icon">
													<img src="assets/img/icon/icon-6a.svg" alt="Icon">
												</div>
												<h4 class="single__service__title"><a
														href="services-detail.html">Manufacturing
														System</a>
												</h4>
												<a href="services-detail.html"><img src="assets/img/icon/long-arrow.svg"
														alt="Arrow"></a>
											</div>
										</div>
									</div>
								</div>
								<!-- If we need pagination -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- services__area end -->