			<!-- testimonial__area start -->
			<section class="testimonial__area">
				<div class="grey-bg testimonial__section__wrapper pt-100 pb-80 pt-lg-60 pb-lg-60">
					<img class="shapes__1" src="assets/img/shape/star-2a.svg" alt="Star">
					<img class="shapes__2" src="assets/img/shape/line-6a.svg" alt="Star">
					<img class="testimonial-bg" src="assets/img/testimonial/testimonial-bg-1a.jpg" alt="Testimonial">
					<div class="container">
						<div class="row justify-content-center justify-content-xl-end">
							<div class="col-xxl-5 col-lg-6">
								<div class="section__title text-center text-xl-start mb-50">
									<h4 class="sub__title__one mb-0">Testimonails</h4>
									<div class="snake-line mb-15">
										<img src="assets/img/shape/snake-line-1a.svg" alt="line">
									</div>
									<h2 class="section__title__one">What Our Customers Say About <span>Factry</span>
									</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="offset-xl-2 col-xl-10 col-lg-12">
								<div class="swiper testimonial__slider__one">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="testimonial__wrapper">
												<div class="rating">
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<span class="rating__number">4.5</span>
												</div>
												<div class="divider mt-15 mb-20"></div>
												<p class="mb-25">“Once we settled on a strategy, the team went to work
													implementing.
													The
													website they
													created for stunning.”</p>
												<div class="author d-flex align-items-center">
													<div class="author__img mr-20">
														<img src="assets/img/testimonial/author-1a.jpg" alt="Author">
													</div>
													<div class="auhtor__content">
														<h3 class="author__name">Annette Black</h3>
														<h5 class="author__designation">Marketing Coordinator</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial__wrapper">
												<div class="rating">
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<span class="rating__number">5.0</span>
												</div>
												<div class="divider mt-15 mb-20"></div>
												<p class="mb-25">“Once we settled on a strategy, the team went to work
													implementing.
													The
													website they
													created for stunning.”</p>
												<div class="author d-flex align-items-center">
													<div class="author__img mr-20">
														<img src="assets/img/testimonial/author-2a.jpg" alt="Author">
													</div>
													<div class="auhtor__content">
														<h3 class="author__name">Courtney Henry</h3>
														<h5 class="author__designation">Roof Engineer</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial__wrapper">
												<div class="rating">
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<span class="rating__number">4.5</span>
												</div>
												<div class="divider mt-15 mb-20"></div>
												<p class="mb-25">“Once we settled on a strategy, the team went to work
													implementing.
													The
													website they
													created for stunning.”</p>
												<div class="author d-flex align-items-center">
													<div class="author__img mr-20">
														<img src="assets/img/testimonial/author-1a.jpg" alt="Author">
													</div>
													<div class="auhtor__content">
														<h3 class="author__name">Annette Black</h3>
														<h5 class="author__designation">Marketing Coordinator</h5>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="testimonial__wrapper">
												<div class="rating">
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<a href="#"><i class="bi bi-star-fill"></i></a>
													<span class="rating__number">5.0</span>
												</div>
												<div class="divider mt-15 mb-20"></div>
												<p class="mb-25">“Once we settled on a strategy, the team went to work
													implementing.
													The
													website they
													created for stunning.”</p>
												<div class="author d-flex align-items-center">
													<div class="author__img mr-20">
														<img src="assets/img/testimonial/author-2a.jpg" alt="Author">
													</div>
													<div class="auhtor__content">
														<h3 class="author__name">Courtney Henry</h3>
														<h5 class="author__designation">Trainer</h5>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- testimonial__area end -->