			<!-- video__area start -->
			<section class="video__area">
				<div class="video__section__wrapper pb-80 pb-lg-60">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="full__video__bg" data-background="assets/img/video/video-bg-1a.jpg">
									<div class="video__wrapper">
										<img class="video__text" src="assets/img/video/video-text-circular.svg"
											alt="Circular">
										<a class="popup-video" href="https://www.youtube.com/watch?v=lTxn2BuqyzU"><i
												class="bi bi-play-fill"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- video__area end -->